.contain{
    border-radius: 10px;
    color: white;
    background-color: #131313;
    padding: 10px;
}
.main-field{
    background-color: #252525;
    border-radius: 10px;
    padding: 10px;
}
.info{
    font-weight: bold;
}
.value{
    background: linear-gradient(#040404, #1e1e1e);
    display: flex;
    border-radius: 10px;
}
