.box-content {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.bet-box {
  margin-right: 1%;
  width: 10%;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
  background-image: url("/preset3.png");
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.bet-box:hover {
  background-image: url("/preset2.png");
}
.bet-box.selected {
  background-image: url("/preset2.png");
}

.preset-content {
  color: white;
  font-weight: bold;
  background-image: url("../../../assets/images/optionsBg.png");
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position: center;
}
.box-content {
  color: black;
}
