.betTable {
  margin: 1rem;

  display: flex;
  justify-content: center;
}

.betTable table tbody tr td {
  width: 6.25vw;
  height: 6.25vw;
  background-color: transparent;
  border: 1px solid white;

  align-content: center;
  text-align: center;
  font-weight: 700;
}

.betTable table {
  width: "95%";
  border: none;
  /* width: 6.25vw;
  height: 6.25vw; */
  /* background: url(../../assets/images/table.png) no-repeat center; */
  background-clip: border-box;
  background-size: 100% 100%;
  /* background-position: -7px -523px; */
  color: white;
  font-size: 2.5rem;
}

.betTable-zeros {
}
.betTable-zeros > div {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.hidden-td {
  border: none !important;
  visibility: hidden;
}
.td-red {
  background: url(../../assets/images/red.png) no-repeat center;
}
.td-red:hover {
  background: url(../../assets/images/red_hover.png) no-repeat center;
}
.td-black {
  background: url(../../assets/images/black.png) no-repeat center;
}
.td-black:hover {
  background: url(../../assets/images/black_hover.png) no-repeat center;
}
.td-row {
  font-size: 1.3rem;
}
