:root {
  --primary-width: 6.25vw;
  --chip-size: 3vw;
}

.betTable {
  width: 90%;
  margin: auto;
  margin-top: 1rem;

  display: flex;
  justify-content: center;

  position: relative;
  min-height: 45vh;
}

.betTable-main {
  width: 100%;
  border: none;
  color: white;
  font-size: 2rem;

  /* aspect-ratio: 14/5; */

  position: absolute;
  inset: 0;
}
.betTable-main td {
  padding: 0;
  width: 7.143%;
  /* height: 6.25vw; */
  background-color: transparent;
  border: 0.5px solid whitesmoke;

  align-content: center;
  text-align: center;
  font-weight: 700;

  background-size: 100% 100%;
  cursor: default;
}

.betTable-zeros {
}
.betTable-zeros > div {
  height: 50%;
  border-bottom: 1px solid whitesmoke;

  text-align: center;
  align-content: center;
}
.betTable-zeros > .betTable-header:hover {
  background: url(../../assets/images/zero_hover.png) no-repeat center;
  background-size: 100% 100%;
}
.betTable-zeros > .betTable-header.hover {
  background: url(../../assets/images/zero_hover.png) no-repeat center;
  background-size: 100% 100%;
}

.betTable-chip {
  font-size: 1rem;
  background: url(../../assets/images/chip.png) no-repeat center;
  background-size: auto 100%;
  height: 3vw;
}

.hidden-td {
  border: none !important;
  visibility: hidden;
}
.td-red {
  background: url(../../assets/images/red.png) no-repeat center;
  background-size: 100% 100%;
}
.td-red:hover,
.td-red.hover {
  background: url(../../assets/images/red_hover.png) no-repeat center;
  background-size: 100% 100%;
}
.td-black {
  background: url(../../assets/images/black.png) no-repeat center;
  background-size: 100% 100%;
}
.td-black:hover,
.td-black.hover {
  background: url(../../assets/images/black_hover.png) no-repeat center;
  background-size: 100% 100%;
}
.td-row {
  font-size: 1.3rem;
}
.betTable-black-diamond {
  background: url(../../assets/images/black_diamond.png) no-repeat center;
  background-size: 80% 80% !important;
}
.betTable-red-diamond {
  background: url(../../assets/images/red_diamond.png) no-repeat center;
  background-size: 80% 80% !important;
}

.betTable-hidden {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.betTable-hidden tr {
  height: 3vw;
}

.betTable-hidden tr td {
  border: 1px solid cyan;
  width: 3.3vw;
  /* height: 4vw; */
}

.betTable-hidden-first-row {
  height: 4.5vw !important;
}

.betTable-hidden-header {
  width: 5vw !important;
}
