.info-content {
  width: 90%;
  margin: auto;
  padding-top: 1%;
}

.bet-info {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
}

.bet-rate {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
  margin-top: 1%;
}
.bet-rate .progress-box {
  width: 49.5%;
  /* margin: 1%; */
}

div[class*="col-"] {
  padding: 0;
}
.latest-numbers {
}
.hot-cold-numbers {
  margin-top: 2%;
}
